[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

Flask = "*"
SQLAlchemy = "*"
"Flask-SQLAlchemy" = "*"
"Flask-Limiter" = "*"
"Flask-Login" = "*"
"psycopg2" = "*"
rq = "*"
redis = "*"
"pytest-vcr" = "*"
vcrpy = "*"


[dev-packages]

"flake8" = "*"
pytest = "*"
"pytest-cov" = "*"
coverage = "*"
tox = "*"
codecov = "*"
alembic = "*"
"Flask-Script" = "*"
"Flask-Migrate" = "*"
"pytest-flask" = "*"