[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]

flask = "*"
sqlalchemy = "*"
"flask-sqlalchemy" = "*"
"flask-limiter" = "*"
"flask-login" = "*"
"psycopg2" = "*"
rq = "*"
redis = "*"


[dev-packages]

"flake8" = "*"
pytest = "*"
"pytest-cov" = "*"
coverage = "*"
tox = "*"
"pytest-mock" = "*"
"pytest-flask" = "*"
codecov = "*"