interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://gitlab.com/oauth/token?client_id=51995f5ca67470bd010e27a7379aa62bc297e4d8f425f6763b626d3a721ced8b&client_secret=CLIENT_SECRET&code=6be7d9f95c2edb413fdf0c5a88bbe071460ce62a6df6a77a17177e98c7146456&grant_type=authorization_code&redirect_uri=http%3A%2F%2Flocalhost%3A8080%2Foauth%2Fgitlab%2Fcallback
  response:
    body: {string: '{"access_token":"bdc23b5a03749776f98b12860377783c3ebbc8026dd26f8198b8f540bdda3a87","token_type":"bearer","refresh_token":"85b299f322d1f73b37a6d5526666059651ba0a7121a0befc22ddc86979e1b46c","scope":"api","created_at":1513216562}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Etag: [W/"34f62136fd43303e4174fc547e678ebc"]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      authorization: [ACCESS_TOKEN]
    method: GET
    uri: https://gitlab.com/api/v4/user
  response:
    body: {string: '{"id":1195202,"name":"Seth Michael Larson","username":"SethMichaelLarson","state":"active","avatar_url":"https://secure.gravatar.com/avatar/6444b535859d4afc5916092ca57a2be6?s=80&d=identicon","web_url":"https://gitlab.com/SethMichaelLarson","created_at":"2017-03-16T17:33:17.781Z","bio":"","location":"Minneapolis,
        MN","skype":"","linkedin":"","twitter":"https://twitter.com/pythoasis","website_url":"","organization":"Abbott
        Laboratories","last_sign_in_at":"2017-12-12T01:27:59.284Z","confirmed_at":"2017-03-16T17:34:12.185Z","last_activity_on":"2017-12-12","email":"sethmichaellarson@protonmail.com","theme_id":null,"color_scheme_id":1,"projects_limit":100000,"current_sign_in_at":"2017-12-14T01:55:15.617Z","identities":[{"provider":"bitbucket","extern_uid":"SethMichaelLarson"},{"provider":"github","extern_uid":"18519037"},{"provider":"twitter","extern_uid":"722557924011184128"}],"can_create_group":true,"can_create_project":true,"two_factor_enabled":false,"external":false,"shared_runners_minutes_limit":2000}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"3c8597dcd97ea35ff1455765e545fa05"]
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['1']
      RateLimit-Remaining: ['599']
      RateLimit-Reset: ['1513216622']
      RateLimit-ResetTime: ['Fri, 14 Dec 2017 01:57:02 GMT']
    status: {code: 200, message: OK}
version: 1
